@tailwind base;
@tailwind components;
@tailwind utilities;

.page-container {
  padding: 20px;
}

.content-section-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content-list {
  padding: 10px;
  display: flex;
}

.content-item {
  width: 300px;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.content-item__img-container {
  position: relative;
  height: 200px;
}

.content-item__header {
  padding: 10px;
  font-size: 17px;
}

.content-item__header > div:nth-child(1) {
  font-weight: bold;
  font-size: 20px;
}

.page-container {
  padding: 100px;
  background-color: #fff6c2;
}

.portfolios-page-wrapper {
  padding: 100px;
  background-color: red;
}

.list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}

a,
button {
  font-family: inherit;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.active {
  color: blue;
  transition: all 0.15s ease-in;
}
